n8n-workflows/working/archive/n8n-basket-complete-final.json
{
  "name": "🏀 Basket Stats Scraper - COMPLETE FINAL",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "cronExpression": "0 8 * * 1,4"
            }
          ]
        }
      },
      "id": "trigger",
      "name": "⏰ Schedule (Mon/Thu 8AM)",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [40, 300]
    },
    {
      "parameters": {
        "url": "https://www.playbasket.it/toscana/league.php?lt=2&lf=M&lr=TO&lp=FI&lc=C%2FM&lg=1&mod=st",
        "responseFormat": "string"
      },
      "id": "node1",
      "name": "🌐 Fetch PlayBasket Data",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "jsCode": "// Parser HTML corretto per PlayBasket.it - VERSIONE FINALE\nconsole.log('🏀 INIZIO PARSING PLAYBASKET - VERSIONE FINALE');\n\nif (!items || items.length === 0) {\n  console.error('❌ Nessun dato ricevuto');\n  return [{ json: { success: false, error: 'No input data' } }];\n}\n\n// Accesso corretto ai dati HTML\nlet html = null;\nif (items[0].data) {\n  html = items[0].data;\n} else if (items[0].json && typeof items[0].json === 'string') {\n  html = items[0].json;\n} else if (items[0].json && items[0].json.data) {\n  html = items[0].json.data;\n}\n\nif (!html) {\n  console.error('❌ HTML non trovato');\n  return [{ json: { success: false, error: 'HTML not found' } }];\n}\n\nconsole.log('📊 Lunghezza HTML:', html.length);\n\n// Estrazione delle righe della classifica\nconst standings = [];\nconst rowRegex = /<tr class='row_standings'>([\\s\\S]*?)<\\/tr>/g;\nlet rowMatch;\n\nwhile ((rowMatch = rowRegex.exec(html)) !== null) {\n  const rowContent = rowMatch[1];\n  \n  try {\n    // Estrazione posizione\n    const posMatch = /<td[^>]*class='colfrozen'>(\\d+)<\\/td>/.exec(rowContent);\n    if (!posMatch) continue;\n    const position = parseInt(posMatch[1]);\n    \n    // Estrazione squadra e ID\n    const teamMatch = /<td class=\"sq colfrozen\"><a href=\"club\\.php\\?obj=(\\d+)&action=view&eid=\\d+\">([^<]+)<\\/a>/.exec(rowContent);\n    if (!teamMatch) continue;\n    \n    const teamId = teamMatch[1];\n    const teamName = teamMatch[2].trim();\n    const teamLink = `https://www.playbasket.it/toscana/club.php?obj=${teamId}&action=view&eid=4`;\n    \n    // Estrazione punti in classifica (highlighted_data)\n    const pointsMatch = /<td[^>]*class='highlighted_data'>(\\d+)<\\/td>/.exec(rowContent);\n    const points = pointsMatch ? parseInt(pointsMatch[1]) : 0;\n    \n    // Estrazione punti per partita (divisore)\n    const pointsPerGameMatch = /<td[^>]*class='divisore'>([\\d.]+)<\\/td>/.exec(rowContent);\n    const pointsPerGame = pointsPerGameMatch ? parseFloat(pointsPerGameMatch[1]) : 0;\n    \n    // Estrazione altri dati nell'ordine\n    const simpleTdRegex = /<td title='[^']*'>([^<]+)<\\/td>/g;\n    const values = [];\n    let tdMatch;\n    \n    while ((tdMatch = simpleTdRegex.exec(rowContent)) !== null) {\n      values.push(tdMatch[1].trim());\n    }\n    \n    const games = values[0] ? parseInt(values[0]) : 0;\n    const wins = values[1] ? parseInt(values[1]) : 0;\n    const losses = values[2] ? parseInt(values[2]) : 0;\n    const percentage = values[3] ? parseFloat(values[3]) : 0;\n    \n    // Estrazione striscia\n    const streakMatch = /<td[^>]*class='[^']*streak[^']*'[^>]*>([^<]+)<\\/td>/.exec(rowContent);\n    const streak = streakMatch ? streakMatch[1].trim() : '-';\n    \n    const pointsFor = values[5] ? parseInt(values[5]) : 0;\n    const pointsAgainst = values[6] ? parseInt(values[6]) : 0;\n    const quality = values[7] ? parseFloat(values[7]) : 0;\n    const pointsForPerGame = values[8] ? parseFloat(values[8]) : 0;\n    const pointsAgainstPerGame = values[9] ? parseFloat(values[9]) : 0;\n    \n    const teamData = {\n      position: position,\n      team: teamName,\n      teamId: teamId,\n      teamLink: teamLink,\n      points: points,\n      pointsPerGame: pointsPerGame,\n      games: games,\n      wins: wins,\n      losses: losses,\n      percentage: percentage,\n      streak: streak,\n      pointsFor: pointsFor,\n      pointsAgainst: pointsAgainst,\n      quality: quality.toFixed(2),\n      pointsForPerGame: pointsForPerGame,\n      pointsAgainstPerGame: pointsAgainstPerGame\n    };\n    \n    standings.push(teamData);\n    \n  } catch (error) {\n    console.error('❌ Errore processando riga:', error);\n  }\n}\n\n// Creazione statistiche per squadra\nconst teamStats = {};\nstandings.forEach(team => {\n  teamStats[team.team] = {\n    position: team.position,\n    points: team.points,\n    games: team.games,\n    wins: team.wins,\n    losses: team.losses,\n    winPercentage: team.percentage,\n    pointsFor: team.pointsFor,\n    pointsAgainst: team.pointsAgainst,\n    pointDifference: team.pointsFor - team.pointsAgainst,\n    averagePointsFor: team.pointsForPerGame,\n    averagePointsAgainst: team.pointsAgainstPerGame\n  };\n});\n\nconst result = {\n  standings: standings,\n  teamStats: teamStats,\n  lastUpdate: new Date().toISOString(),\n  season: '2025-2026',\n  competition: 'Serie C Maschile Toscana',\n  conference: 'Conference Nord-Ovest',\n  group: 'Girone B',\n  totalTeams: standings.length,\n  source: 'playbasket.it',\n  status: 'active'\n};\n\nconsole.log(`🎉 Parsing completato: ${standings.length} squadre processate`);\nreturn [{ json: result }];"
      },
      "id": "node2",
      "name": "⚙️ Parse Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{$json.standings.length}}",
              "operation": "largerEqual",
              "value2": 10
            }
          ]
        }
      },
      "id": "node3",
      "name": "✅ Check Quality",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [680, 300]
    },
    {
      "parameters": {
        "url": "https://api.github.com/repos/magiaslab/svbtailwindok3/contents/src/data/stats/serie-c-stats.json",
        "authentication": "headerAuth",
        "responseFormat": "json",
        "options": {}
      },
      "id": "node4",
      "name": "📥 Get Current JSON SHA",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [880, 240]
    },
    {
      "parameters": {
        "url": "https://api.github.com/repos/magiaslab/svbtailwindok3/contents/src/data/stats-data.ts",
        "authentication": "headerAuth",
        "responseFormat": "json",
        "options": {}
      },
      "id": "node5",
      "name": "📥 Get Current TS SHA",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [880, 360]
    },
    {
      "parameters": {
        "jsCode": "// Preparazione dati per GitHub - JSON\nconst statsData = items[0].json;\n\n// Creazione contenuto Base64 per il file JSON\nconst jsonContent = JSON.stringify(statsData, null, 2);\nconst base64Content = Buffer.from(jsonContent).toString('base64');\n\n// SHA del file corrente\nconst currentSha = items[1].json.sha;\n\nreturn [{\n  json: {\n    message: `Aggiornamento automatico statistiche Serie C - ${new Date().toISOString()}`,\n    content: base64Content,\n    sha: currentSha\n  }\n}];"
      },
      "id": "node6",
      "name": "🔧 Prepare JSON Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1080, 240]
    },
    {
      "parameters": {
        "jsCode": "// Preparazione dati per GitHub - TypeScript\nconst statsData = items[0].json;\n\n// Creazione contenuto TypeScript\nconst tsContent = `// Dati delle statistiche Serie C\n// Questo file viene importato direttamente dai componenti\n// Aggiornato automaticamente: ${new Date().toISOString()}\n\nexport const serieCStatsData = ${JSON.stringify(statsData, null, 2)};`;\n\nconst base64Content = Buffer.from(tsContent).toString('base64');\n\n// SHA del file corrente\nconst currentSha = items[2].json.sha;\n\nreturn [{\n  json: {\n    message: `Aggiornamento automatico stats-data.ts - ${new Date().toISOString()}`,\n    content: base64Content,\n    sha: currentSha\n  }\n}];"
      },
      "id": "node7",
      "name": "🔧 Prepare TS Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1080, 360]
    },
    {
      "parameters": {
        "url": "https://api.github.com/repos/magiaslab/svbtailwindok3/contents/src/data/stats/serie-c-stats.json",
        "authentication": "headerAuth",
        "requestMethod": "PUT",
        "responseFormat": "json",
        "jsonParameters": true,
        "bodyParametersJson": "={{ $json }}",
        "options": {}
      },
      "id": "node8",
      "name": "📤 Update JSON File",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [1280, 240]
    },
    {
      "parameters": {
        "url": "https://api.github.com/repos/magiaslab/svbtailwindok3/contents/src/data/stats-data.ts",
        "authentication": "headerAuth",
        "requestMethod": "PUT",
        "responseFormat": "json",
        "jsonParameters": true,
        "bodyParametersJson": "={{ $json }}",
        "options": {}
      },
      "id": "node9",
      "name": "📤 Update TS File",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [1280, 360]
    },
    {
      "parameters": {
        "url": "https://api.netlify.com/build_hooks/YOUR_BUILD_HOOK_ID",
        "requestMethod": "POST",
        "responseFormat": "json",
        "options": {}
      },
      "id": "node10",
      "name": "🚀 Trigger Netlify Deploy",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [1480, 300]
    },
    {
      "parameters": {
        "jsCode": "// Messaggio di successo finale\nconst jsonUpdate = items[0];\nconst tsUpdate = items[1];\nconst netlifyDeploy = items[2];\n\nconst message = `🎉 Aggiornamento completato con successo!\n\n📊 Statistiche aggiornate:\n- File JSON: ${jsonUpdate.json ? '✅ Aggiornato' : '❌ Errore'}\n- File TypeScript: ${tsUpdate.json ? '✅ Aggiornato' : '❌ Errore'}\n- Deploy Netlify: ${netlifyDeploy.json ? '✅ Triggerato' : '❌ Errore'}\n\n⏰ Timestamp: ${new Date().toISOString()}`;\n\nconsole.log(message);\n\nreturn [{\n  json: {\n    success: true,\n    message: message,\n    timestamp: new Date().toISOString()\n  }\n}];"
      },
      "id": "node11",
      "name": "🎉 Final Success",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1680, 300]
    },
    {
      "parameters": {
        "jsCode": "// Gestione errore - dati non validi\nconsole.error('❌ Errore durante l\\'esecuzione del workflow');\nconsole.error('Dati non validi o scraping fallito');\n\nreturn [{\n  json: {\n    success: false,\n    error: 'Dati non validi o scraping fallito',\n    timestamp: new Date().toISOString()\n  }\n}];"
      },
      "id": "node12",
      "name": "❌ Error Handler",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [680, 480]
    }
  ],
  "connections": {
    "⏰ Schedule (Mon/Thu 8AM)": {
      "main": [
        [
          {
            "node": "🌐 Fetch PlayBasket Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🌐 Fetch PlayBasket Data": {
      "main": [
        [
          {
            "node": "⚙️ Parse Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "⚙️ Parse Data": {
      "main": [
        [
          {
            "node": "✅ Check Quality",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "✅ Check Quality": {
      "main": [
        [
          {
            "node": "📥 Get Current JSON SHA",
            "type": "main",
            "index": 0
          },
          {
            "node": "📥 Get Current TS SHA",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "❌ Error Handler",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📥 Get Current JSON SHA": {
      "main": [
        [
          {
            "node": "🔧 Prepare JSON Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📥 Get Current TS SHA": {
      "main": [
        [
          {
            "node": "🔧 Prepare TS Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔧 Prepare JSON Data": {
      "main": [
        [
          {
            "node": "📤 Update JSON File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔧 Prepare TS Data": {
      "main": [
        [
          {
            "node": "📤 Update TS File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📤 Update JSON File": {
      "main": [
        [
          {
            "node": "🚀 Trigger Netlify Deploy",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📤 Update TS File": {
      "main": [
        [
          {
            "node": "🚀 Trigger Netlify Deploy",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🚀 Trigger Netlify Deploy": {
      "main": [
        [
          {
            "node": "🎉 Final Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    "basketball",
    "scraping",
    "complete",
    "final"
  ],
  "triggerCount": 0,
  "updatedAt": "2025-09-28T19:30:00.000Z",
  "versionId": "complete-final-v1"
}
