n8n-workflows/working/archive/n8n-basket-complete-dynamic.json
{
  "name": "🏀 Basket Stats Scraper - COMPLETE DYNAMIC",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "cronExpression": "0 8 * * 1,4"
            }
          ]
        }
      },
      "id": "trigger",
      "name": "⏰ Schedule (Mon/Thu 8AM)",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [40, 300]
    },
    {
      "parameters": {
        "url": "https://www.playbasket.it/toscana/league.php?lt=2&lf=M&lr=TO&lp=FI&lc=C%2FM&lg=1&mod=st",
        "responseFormat": "string"
      },
      "id": "node1",
      "name": "🌐 Fetch PlayBasket Data",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "url": "https://api.github.com/repos/magiaslab/svbtailwindok3/contents/src/data/stats/serie-c-stats.json",
        "authentication": "headerAuth",
        "responseFormat": "json",
        "options": {}
      },
      "id": "node2",
      "name": "📥 Get JSON SHA",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [240, 420]
    },
    {
      "parameters": {
        "url": "https://api.github.com/repos/magiaslab/svbtailwindok3/contents/src/data/stats-data.ts",
        "authentication": "headerAuth",
        "responseFormat": "json",
        "options": {}
      },
      "id": "node3",
      "name": "📥 Get TS SHA",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [240, 540]
    },
    {
      "parameters": {
        "jsCode": "// Parser HTML completo con SHA dinamico\nconsole.log('🏀 INIZIO PARSING COMPLETO CON SHA DINAMICO');\n\n// Accesso ai dati HTML (primo input)\nconst htmlData = items[0];\nlet html = null;\nif (htmlData.data) {\n  html = htmlData.data;\n} else if (htmlData.json && typeof htmlData.json === 'string') {\n  html = htmlData.json;\n}\n\nif (!html) {\n  console.error('❌ HTML non trovato');\n  return [{ json: { success: false, error: 'HTML not found' } }];\n}\n\n// Accesso ai dati SHA (secondo e terzo input)\nconst jsonShaData = items[1];\nconst tsShaData = items[2];\nconst jsonSha = jsonShaData.json.sha;\nconst tsSha = tsShaData.json.sha;\n\nconsole.log('📋 SHA JSON:', jsonSha);\nconsole.log('📋 SHA TS:', tsSha);\n\n// Parsing HTML (codice testato e funzionante)\nconst standings = [];\nconst rowRegex = /<tr class='row_standings'>([\\s\\S]*?)<\\/tr>/g;\nlet rowMatch;\n\nwhile ((rowMatch = rowRegex.exec(html)) !== null) {\n  const rowContent = rowMatch[1];\n  \n  try {\n    const posMatch = /<td[^>]*class='colfrozen'>(\\d+)<\\/td>/.exec(rowContent);\n    if (!posMatch) continue;\n    const position = parseInt(posMatch[1]);\n    \n    const teamMatch = /<td class=\"sq colfrozen\"><a href=\"club\\.php\\?obj=(\\d+)&action=view&eid=\\d+\">([^<]+)<\\/a>/.exec(rowContent);\n    if (!teamMatch) continue;\n    \n    const teamId = teamMatch[1];\n    const teamName = teamMatch[2].trim();\n    const teamLink = `https://www.playbasket.it/toscana/club.php?obj=${teamId}&action=view&eid=4`;\n    \n    const pointsMatch = /<td[^>]*class='highlighted_data'>(\\d+)<\\/td>/.exec(rowContent);\n    const points = pointsMatch ? parseInt(pointsMatch[1]) : 0;\n    \n    const pointsPerGameMatch = /<td[^>]*class='divisore'>([\\d.]+)<\\/td>/.exec(rowContent);\n    const pointsPerGame = pointsPerGameMatch ? parseFloat(pointsPerGameMatch[1]) : 0;\n    \n    const simpleTdRegex = /<td title='[^']*'>([^<]+)<\\/td>/g;\n    const values = [];\n    let tdMatch;\n    \n    while ((tdMatch = simpleTdRegex.exec(rowContent)) !== null) {\n      values.push(tdMatch[1].trim());\n    }\n    \n    const games = values[0] ? parseInt(values[0]) : 0;\n    const wins = values[1] ? parseInt(values[1]) : 0;\n    const losses = values[2] ? parseInt(values[2]) : 0;\n    const percentage = values[3] ? parseFloat(values[3]) : 0;\n    \n    const streakMatch = /<td[^>]*class='[^']*streak[^']*'[^>]*>([^<]+)<\\/td>/.exec(rowContent);\n    const streak = streakMatch ? streakMatch[1].trim() : '-';\n    \n    const pointsFor = values[5] ? parseInt(values[5]) : 0;\n    const pointsAgainst = values[6] ? parseInt(values[6]) : 0;\n    const quality = values[7] ? parseFloat(values[7]) : 0;\n    const pointsForPerGame = values[8] ? parseFloat(values[8]) : 0;\n    const pointsAgainstPerGame = values[9] ? parseFloat(values[9]) : 0;\n    \n    standings.push({\n      position, team: teamName, teamId, teamLink, points, pointsPerGame,\n      games, wins, losses, percentage, streak, pointsFor, pointsAgainst,\n      quality: quality.toFixed(2), pointsForPerGame, pointsAgainstPerGame\n    });\n    \n  } catch (error) {\n    console.error('❌ Errore processando riga:', error);\n  }\n}\n\n// Verifica qualità dati\nif (standings.length < 10) {\n  console.error(`❌ Dati insufficienti: solo ${standings.length} squadre`);\n  return [{ json: { success: false, error: `Insufficient data: ${standings.length} teams` } }];\n}\n\n// Creazione dati completi\nconst teamStats = {};\nstandings.forEach(team => {\n  teamStats[team.team] = {\n    position: team.position, points: team.points, games: team.games,\n    wins: team.wins, losses: team.losses, winPercentage: team.percentage,\n    pointsFor: team.pointsFor, pointsAgainst: team.pointsAgainst,\n    pointDifference: team.pointsFor - team.pointsAgainst,\n    averagePointsFor: team.pointsForPerGame,\n    averagePointsAgainst: team.pointsAgainstPerGame\n  };\n});\n\nconst statsData = {\n  standings, teamStats,\n  lastUpdate: new Date().toISOString(),\n  season: '2025-2026',\n  competition: 'Serie C Maschile Toscana',\n  conference: 'Conference Nord-Ovest',\n  group: 'Girone B',\n  totalTeams: standings.length,\n  source: 'playbasket.it',\n  status: 'active'\n};\n\n// Preparazione dati per GitHub\nconst jsonContent = JSON.stringify(statsData, null, 2);\nconst jsonBase64 = Buffer.from(jsonContent).toString('base64');\n\n// Preparazione contenuto TypeScript\nconst tsContent = `// Dati delle statistiche Serie C\n// Questo file viene importato direttamente dai componenti\n// Aggiornato automaticamente: ${new Date().toISOString()}\n\nexport const serieCStatsData = ${JSON.stringify(statsData, null, 2)};`;\nconst tsBase64 = Buffer.from(tsContent).toString('base64');\n\nconst result = {\n  success: true,\n  teamsCount: standings.length,\n  jsonData: {\n    message: `Aggiornamento automatico serie-c-stats.json - ${new Date().toISOString()}`,\n    content: jsonBase64,\n    sha: jsonSha\n  },\n  tsData: {\n    message: `Aggiornamento automatico stats-data.ts - ${new Date().toISOString()}`,\n    content: tsBase64,\n    sha: tsSha\n  }\n};\n\nconsole.log(`🎉 Parsing completato: ${standings.length} squadre, JSON SHA: ${jsonSha}, TS SHA: ${tsSha}`);\nreturn [{ json: result }];"
      },
      "id": "node4",
      "name": "⚙️ Parse & Prepare All",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 380]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{$json.success}}",
              "operation": "equal",
              "value2": true
            }
          ]
        }
      },
      "id": "node5",
      "name": "✅ Check Success",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [680, 380]
    },
    {
      "parameters": {
        "url": "https://api.github.com/repos/magiaslab/svbtailwindok3/contents/src/data/stats/serie-c-stats.json",
        "authentication": "headerAuth",
        "requestMethod": "PUT",
        "responseFormat": "json",
        "jsonParameters": true,
        "bodyParametersJson": "={{ $json.jsonData }}",
        "options": {}
      },
      "id": "node6",
      "name": "📤 Update JSON File",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [880, 300]
    },
    {
      "parameters": {
        "url": "https://api.github.com/repos/magiaslab/svbtailwindok3/contents/src/data/stats-data.ts",
        "authentication": "headerAuth",
        "requestMethod": "PUT",
        "responseFormat": "json",
        "jsonParameters": true,
        "bodyParametersJson": "={{ $json.tsData }}",
        "options": {}
      },
      "id": "node7",
      "name": "📤 Update TS File",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [880, 460]
    },
    {
      "parameters": {
        "url": "https://api.netlify.com/build_hooks/YOUR_BUILD_HOOK_ID",
        "requestMethod": "POST",
        "responseFormat": "json",
        "sendBody": false,
        "options": {}
      },
      "id": "node8",
      "name": "🚀 Trigger Netlify Deploy",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [1080, 380]
    },
    {
      "parameters": {
        "jsCode": "// Messaggio di successo finale completo\nconst jsonUpdate = items[0];\nconst tsUpdate = items[1];\nconst netlifyDeploy = items[2];\n\nconst jsonSuccess = jsonUpdate.json && jsonUpdate.json.content;\nconst tsSuccess = tsUpdate.json && tsUpdate.json.content;\nconst netlifySuccess = netlifyDeploy.json || netlifyDeploy.statusCode === 200;\n\nconst message = `🎉 Aggiornamento automatico completato!\n\n📊 Risultati:\n- File JSON: ${jsonSuccess ? '✅ Aggiornato' : '❌ Errore'}\n- File TypeScript: ${tsSuccess ? '✅ Aggiornato' : '❌ Errore'}\n- Deploy Netlify: ${netlifySuccess ? '✅ Triggerato' : '❌ Errore'}\n\n📝 Commit Details:\n- JSON Commit: ${jsonUpdate.json?.commit?.sha || 'N/A'}\n- TS Commit: ${tsUpdate.json?.commit?.sha || 'N/A'}\n\n⏰ Timestamp: ${new Date().toISOString()}\n\n🎯 Prossimo aggiornamento: Lunedì/Giovedì alle 8:00 AM`;\n\nconsole.log(message);\n\nreturn [{\n  json: {\n    success: jsonSuccess && tsSuccess,\n    message: message,\n    details: {\n      jsonUpdate: jsonSuccess,\n      tsUpdate: tsSuccess,\n      netlifyDeploy: netlifySuccess,\n      jsonCommit: jsonUpdate.json?.commit?.sha,\n      tsCommit: tsUpdate.json?.commit?.sha\n    },\n    timestamp: new Date().toISOString()\n  }\n}];"
      },
      "id": "node9",
      "name": "🎉 Final Success",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1280, 380]
    },
    {
      "parameters": {
        "jsCode": "// Gestione errore completa\nconsole.error('❌ Errore durante l\\'esecuzione del workflow');\nconsole.error('Possibili cause: scraping fallito, dati insufficienti, o errore di parsing');\n\nconst errorDetails = items[0]?.json || { error: 'Unknown error' };\n\nconst message = `❌ Workflow fallito\n\n🔍 Dettagli errore:\n${JSON.stringify(errorDetails, null, 2)}\n\n⏰ Timestamp: ${new Date().toISOString()}\n\n🔄 Il prossimo tentativo sarà: Lunedì/Giovedì alle 8:00 AM`;\n\nconsole.error(message);\n\nreturn [{\n  json: {\n    success: false,\n    error: message,\n    errorDetails: errorDetails,\n    timestamp: new Date().toISOString()\n  }\n}];"
      },
      "id": "node10",
      "name": "❌ Error Handler",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [680, 580]
    }
  ],
  "connections": {
    "⏰ Schedule (Mon/Thu 8AM)": {
      "main": [
        [
          {
            "node": "🌐 Fetch PlayBasket Data",
            "type": "main",
            "index": 0
          },
          {
            "node": "📥 Get JSON SHA",
            "type": "main",
            "index": 0
          },
          {
            "node": "📥 Get TS SHA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🌐 Fetch PlayBasket Data": {
      "main": [
        [
          {
            "node": "⚙️ Parse & Prepare All",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📥 Get JSON SHA": {
      "main": [
        [
          {
            "node": "⚙️ Parse & Prepare All",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📥 Get TS SHA": {
      "main": [
        [
          {
            "node": "⚙️ Parse & Prepare All",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "⚙️ Parse & Prepare All": {
      "main": [
        [
          {
            "node": "✅ Check Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "✅ Check Success": {
      "main": [
        [
          {
            "node": "📤 Update JSON File",
            "type": "main",
            "index": 0
          },
          {
            "node": "📤 Update TS File",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "❌ Error Handler",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📤 Update JSON File": {
      "main": [
        [
          {
            "node": "🚀 Trigger Netlify Deploy",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📤 Update TS File": {
      "main": [
        [
          {
            "node": "🚀 Trigger Netlify Deploy",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🚀 Trigger Netlify Deploy": {
      "main": [
        [
          {
            "node": "🎉 Final Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    "basketball",
    "complete",
    "dynamic-sha",
    "production"
  ],
  "triggerCount": 0,
  "updatedAt": "2025-09-28T22:00:00.000Z",
  "versionId": "complete-dynamic-v1"
}
